<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
	<system.web>
		<authorization>
			<allow roles="Administrators,Editors" />
			<deny users="*" />
		</authorization>
	</system.web>

	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators,Editors,Contributors,Moderators,StoreKeepers" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="AddEditArticle.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators,Editors,Contributors" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="ManageUsers.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="EditUser.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>
