<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="theBeerHouse" type="MB.TheBeerHouse.TheBeerHouseSection, __code"/>
	</configSections>

	<theBeerHouse defaultConnectionStringName="LocalSqlServer">
		<contactForm mailTo="dkindber@telus.net"/>
		<articles pageSize="10"/>
		<polls archiveIsPublic="true" votingLockByIP="false"/>
		<newsletters fromEmail="dkindber@telus.net" fromDisplayName="TheBeerHouse" archiveIsPublic="true" hideFromArchiveInterval="10"/>
		<forums threadsPageSize="8" hotThreadPosts="10" bronzePosterPosts="10" silverPosterPosts="20" goldPosterPosts="50"/>
		<store sandboxMode="true" businessEmail="thebeerhouse@wrox.com" />
	</theBeerHouse>

	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
		<!-- 
      <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient"/>
      <add name="LocalSqlServer" connectionString="Data Source=.\SQL05;Initial Catalog=TheBeerHouse_Remote;User ID=sa;Password=ok" providerName="System.Data.SqlClient"/>
      -->
	</connectionStrings>

	<system.web>

		<compilation debug="false" strict="false" explicit="true">
   <assemblies>
    <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
   </assemblies>
  </compilation>

		<pages theme="TemplateMonster" masterPageFile="~/Template.master" maintainScrollPositionOnPostBack="true">
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>

		<authentication mode="Forms">
			<forms cookieless="AutoDetect" loginUrl="~/AccessDenied.aspx" name="TBHFORMAUTH"/>
		</authentication>

		<membership defaultProvider="TBH_MembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="TBH_MembershipProvider" connectionStringName="LocalSqlServer" applicationName="/" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<!--
            <add name="TBH_MembershipProviderEx"
					connectionStringName="LocalSqlServer"
					applicationName="/"
					enablePasswordRetrieval="true"
					enablePasswordReset="true"
					requiresQuestionAndAnswer="true"
					requiresUniqueEmail="true"
					passwordFormat="Encrypted"
					maxInvalidPasswordAttempts="5"
					passwordAttemptWindow="10"
					minRequiredPasswordLength="5"
					minRequiredNonalphanumericCharacters="0"
					type="MB.TheBeerHouse.DAL.SqlClient.SqlMembershipProviderEx, __code"
            />
            -->
			</providers>
		</membership>

		<siteMap defaultProvider="TBH_SiteMapProvider" enabled="true">
			<providers>
				<add name="TBH_SiteMapProvider" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="web.sitemap"/>
			</providers>
		</siteMap>

		<sessionState cookieless="AutoDetect"/>

		<roleManager enabled="true" cacheRolesInCookie="true" cookieName="TBHROLES" defaultProvider="TBH_RoleProvider">
			<providers>
				<add connectionStringName="LocalSqlServer" applicationName="/" name="TBH_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>

		<anonymousIdentification cookieless="AutoDetect" enabled="true"/>

		<profile defaultProvider="TBH_ProfileProvider">
			<providers>
				<add name="TBH_ProfileProvider" connectionStringName="LocalSqlServer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<add name="FirstName" type="String"/>
				<add name="LastName" type="String"/>
				<add name="Gender" type="String"/>
				<add name="BirthDate" type="DateTime"/>
				<add name="Occupation" type="String"/>
				<add name="Website" type="String"/>
				<add name="ShoppingCart" type="MB.TheBeerHouse.BLL.Store.ShoppingCart" serializeAs="Binary" allowAnonymous="true" />
				<group name="Forum">
					<add name="Posts" type="Int32"/>
					<add name="AvatarUrl" type="String"/>
					<add name="Signature" type="String"/>
				</group>
				<group name="Address">
					<add name="Street" type="String"/>
					<add name="PostalCode" type="String"/>
					<add name="City" type="String"/>
					<add name="State" type="String"/>
					<add name="Country" type="String"/>
				</group>
				<group name="Contacts">
					<add name="Phone" type="String"/>
					<add name="Fax" type="String"/>
				</group>
				<group name="Preferences">
					<add name="Theme" type="String" allowAnonymous="true"/>
					<add name="Culture" type="String" defaultValue="en-US"/>
					<add name="Newsletter" type="MB.TheBeerHouse.BLL.Newsletters.SubscriptionType"/>
				</group>
			</properties>
		</profile>

		<webParts enableExport="true">
			<personalization defaultProvider="TBH_PersonalizationProvider">
				<providers>
					<add name="TBH_PersonalizationProvider" connectionStringName="LocalSqlServer" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				</providers>

				<authorization>
					<allow roles="Administrators,Editors" verbs="enterSharedScope" />
				</authorization>
			</personalization>
		</webParts>

		<machineKey validationKey="287C5D125D6B7E7223E1F719E3D58D17BB967703017E1BBE28618FAC6C4501E910C7E59800B5D4C2EDD5B0ED98874A3E952D60BAF260D9D374A74C76CB741803" decryptionKey="5C1D8BD9DF3E1B4E1D01132F234266616E0D5EF772FE80AB" validation="SHA1"/>

		<customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx">
			<error statusCode="404" redirect="~/Error.aspx?code=404" />
			<error statusCode="408" redirect="~/Error.aspx?code=408" />
			<error statusCode="505" redirect="~/Error.aspx?code=505" />
		</customErrors>

		<urlMappings>
			<add url="~/articles/beer.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=28"/>
			<add url="~/articles/events.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=41"/>
			<add url="~/articles/news.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=31"/>
			<add url="~/articles/photos.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=40"/>
			<add url="~/articles/blog.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=29"/>
			<add url="~/articles/faq.aspx" mappedUrl="~/BrowseArticles.aspx?CatID=42"/>
		</urlMappings>

		<healthMonitoring heartbeatInterval="10800">
			<providers>
				<remove name="SqlWebEventProvider"/>
				<add name="SqlWebEventProvider" connectionStringName="LocalSqlServer" buffer="false" bufferMode="Notification" maxEventDetailsLength="1073741823" type="System.Web.Management.SqlWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<eventMappings>
				<add name="TBH Events" type="MB.TheBeerHouse.WebCustomEvent, MB.TheBeerHouse.CustomEvents"/>
			</eventMappings>
			<rules>
				<clear/>
				<add name="TBH Events" eventName="TBH Events" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="All Errors" eventName="All Errors" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="Failure Audits" eventName="Failure Audits" provider="SqlWebEventProvider" profile="Critical"/>
				<add name="Heartbeats" eventName="Heartbeats" provider="SqlWebEventProvider" profile="Critical"/>
			</rules>
		</healthMonitoring>

	</system.web>

	<location path="EditProfile.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="OrderHistory.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="AddEditPost.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators,Editors,Moderators,Posters"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="PickupDirectoryFromIis" from="thebeerhouse@wrox.com">
				<network defaultCredentials="true" host="(localhost)" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
